<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanzhi.chouti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <application
        android:name=".SysApplication"
        android:allowBackup="true"
        android:icon="@drawable/hanzhilogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hanzhi.chouti.ui.teachers.TeacherInfoActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_select_class"></activity>
        <activity
            android:name="com.hanzhi.chouti.ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hanzhi.chouti.ui.login.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hanzhi.chouti.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.teachers.TeacherActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_select_teacher"/>
        <activity android:name=".ui.selectclass.SelectClassActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_select_class"/>
        <activity android:name=".ui.appointment.AppointmentTimeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_select_time"/>
        <activity android:name=".ui.selectclass.ClassDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_class_detail"/>
        <activity android:name=".ui.selectclass.ClassApplyActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_class_apply"/>
        <activity android:name=".ui.mine.MyClassDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_class_detail"/>
        <activity android:name=".ui.mine.MineActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_mine"/>
    </application>

</manifest>