<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanzhi.onlineclassroom">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SysApplication"
        android:allowBackup="true"
        android:icon="@drawable/hanzhilogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.ContactActivity"></activity>
        <activity
            android:name=".ui.login.ChangePasswordActivity"
            android:label="更改密码"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.ServiceAgreementActivity"
            android:label="用户服务协议"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.AboutActivity"
            android:label="关于韩知"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.teachers.TeacherInfoActivity"
            android:label="@string/title_select_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.teachers.TeacherActivity"
            android:label="@string/title_select_teacher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selectclass.SelectClassActivity"
            android:label="@string/title_select_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.appointment.AppointmentTimeActivity"
            android:label="@string/title_select_time"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selectclass.ClassDetailActivity"
            android:label="@string/title_class_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.selectclass.ClassApplyActivity"
            android:label="@string/title_class_apply"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MyClassDetailActivity"
            android:label="@string/title_class_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MineActivity"
            android:label="@string/title_mine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.WalletActivity"
            android:label="@string/title_wallet"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="hanzhiapp"
            android:value="61167004e623447a331e6d49" />
    </application>

</manifest>